
.about-skills {
  display: flex;
  flex-direction: row;
  gap: 120px;

}

/* .about-skill {
  text-align: start;
} */





#About {
  padding: 80px 0;
  color: #ffffff;
}
.container{
  margin-left: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 40%;
}

.about-col-1 img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
  width: 70%;
  /* height: 70%; */
  border-radius: 15px;
  max-width: 100%; 
}

.about-col-2 {
  flex-basis: 55%;
  /* width: 200px; */
  padding-right: 60px;
}



.sub-title {
  font-size: 3rem;
  font-weight: 600;
  color: #fefefe;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  flex-wrap: wrap; /* Wrap titles on smaller screens */
}

.tab-links {
  margin-right: 50px;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: linear-gradient(270deg, #da7c25 30%, #b923e1 100%);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  background: linear-gradient(267deg, #da7c25 0.63%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.875rem;
}

.intermitte .tab-links{
  background: linear-gradient(267deg, #da7c25 0.63%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.pro .tab-links{
  background: linear-gradient(267deg, #da7c25 0.63%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Medium Devices (Tablets) */
@media only screen and (max-width: 2500px) {
  .about-col-1 img {
    width: 50%;
  }
  .about-col-2 {
    font-size: 1.5rem;
  }
  .sub-title {
    font-size: 3.5rem;
  }

  .tab-links {
    font-size: 1.4rem;
    margin-right: 20px;
  }
  .tab-contents ul li span{
    font-size: 1.4rem;
  }
  #About {
    padding: 150px 0;
    color: #ffffff;
  }

}
@media only screen and (max-width: 2000px) {
  .about-col-1 img {
    width: 60%;
  }
  .about-col-2 {
    font-size: 1.2rem;
  }
  .sub-title {
    font-size: 3.2rem;
  }

  .tab-links {
    font-size: 1.2rem;
    margin-right: 20px;
  }
  .tab-contents ul li span{
    font-size: 1.2rem;
  }

}

@media only screen and (max-width: 1500px) {
  .about-col-1 img {
    width: 70%;
  }
  #About {
    padding: 70px 0;
    color: #ffffff;
  }
}
@media only screen and (max-width: 1200px) {
  .about-col-1 img {
    width: 85%;
  }

}

@media only screen and (max-width: 900px) {
  .about-col-1 img {
    width: 100%;
  }
  .about-col-2 {
    font-size: 0.9rem;
  }
  .sub-title {
    font-size: 3rem;
  }

  .tab-links {
    font-size: 1rem;
    margin-right: 20px;
  }
  .tab-contents ul li span{
    font-size: 1rem;
  }

}



@media only screen and (max-width: 768px) {
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
    text-align: center; /* Center align on smaller screens */
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 1rem;
    text-align: start;
    /* margin-left: 20px; */
    padding-left: 20px;
  }

  .sub-title {
    font-size: 2.5rem;
  }

  .tab-links {
    font-size: 1rem;
    margin-right: 20px;
  }

  /* Reduce image size on tablets */
  .about-col-1 img {
    width: 50%;
  }
}

/* Small Devices (Phones) */
@media only screen and (max-width: 600px) {
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
    text-align: center; 
  }
  .container{
    margin-left: 0px;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .container{
    margin-left: 0px;
    padding: 15px;
  }


  .about-col-2 {
    font-size: 0.875rem;
    text-align: start;
    /* margin-left: 20px; */
    padding: 40px;
  }

  .sub-title {
    font-size: 2rem;
  }

  .tab-links {
    font-size: 0.875rem;
    margin-right: 15px;
  }

  .about-col-1 img {
    width: 50%;
  }
}

/* Extra Small Devices (Smaller phones below 480px) */
@media only screen and (max-width: 480px) {
  .sub-title {
    font-size: 1.5rem;
  }

  .tab-links {
    font-size: 0.70rem;
    margin-right: 10px;
  }
  .container{
    margin-left: 0px;
    padding: 15px;
  }

  .about-col-1 img {
    width: 60%;
  }

  /* Further reduce text size for tiny screens */
  .about-col-2 {
    text-align: start;
    font-size: 0.70rem;
    padding: 20px;
    /* margin-left: 20px; */
    /* padding-left: 20px; */
  }
}
