
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #161513;
    color: white;
   
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px 50px;
  }
  
  .contact-title {
    text-align: center;
  }
  
  .contact-title h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
  }
  
  .contact-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1400px;
    font-family: "IBM Plex Sans", sans-serif;
  }
  
  .contact-left {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  
  .contact-left h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    background: linear-gradient(270deg, #da7c25 80%, #b923e1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }
  
  .contact-left p {
    font-family: "IBM Plex Sans", sans-serif;
    color: #d8d8d8;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0;
   
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #ffffff;
    font-size: 1rem;
   
  }
  .contact-details a{
    text-decoration: none;
  }
  
  .contact-detail {
    display: flex;
    align-items: center;
    gap: 10px;
 
  }
  
  .icons {
    height: 25px;
    width: 25px;
    color: rgb(236, 129, 42);
    /* display: inline-flexbox; */
  }
  
  .contact-right {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .contact-right label {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .contact-right input,
  .contact-right textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-size: 1rem;
    padding: 10px 15px;
  }
  
  .contact-right input {
    height: 40px;
  }
  
  .contact-right textarea {
    resize: vertical;
  }
  
  .contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.63%, #b923e1 102.06%);
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px 30px;
    align-self: flex-start;
  }
  
  .contact-submit:hover {
    transform: scale(1.1);
  }
  .contact-detail p{
    font-size: 22px;
  }
  
  @media (max-width: 768px) {
    .contact-title h1 {
      font-size: 3.5rem;
    }
  
    .contact-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .contact-left,
    .contact-right {
      flex-basis: 100%;
      max-width: 500px;
    }
  
    .contact-left h1 {
      font-size: 2rem;
    }
  
    .contact-left p,
    .contact-details {
      font-size: 1rem;
    }
    .contact-right{
        margin-right: 50px;
        text-align: start;
    }
    .contact-right input {
        height: 40px;
        width: 120%;
        margin-right: 200px;
      }
      .contact-right textarea {
        resize: vertical;
        height: 150px;
        width: 120%;
      }
      
  }
  
  @media (max-width: 480px) {
    .contact-title h1 {
      font-size: 2.5rem;
    }
  
    .contact-left h1 {
      font-size: 1.8 rem;
    }
  
    .contact-left p,
    .contact-detail {
      font-size: 0.9rem;
      gap: 10px;
    }
  
    .contact-right label,
    .contact-right input,
    .contact-right textarea {
      font-size: 0.8rem;
    }
  
    .contact-submit {
      font-size: 0.9rem;
    }
  }
  