
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #161513;
  color: white;

}

.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  text-align: center;
}

.picdiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilepic {
  width: 100%;
  max-width: 460px;
  height: auto;
  border-radius: 50%;
}
.vector1 {
  
  transform: scale(0.95);
  position: absolute; 
  z-index: -1; 
}
.vector2 {
  
  transform: scale(0.75);
  position: absolute; 
  z-index: -1; 
}

.profilepic {
  transform: scale(0.85);
  position: relative; 
  z-index: 1; 
}


.picdiv {
  position: relative;
  
}
.blur{
  position:absolute;
  width: 22rem;
  height: 14rem;
  border-radius:50%;
  background: #ed7ff3;
  filter: blur(72px);
  z-index:-9;
  top: 27%;
  right: 56%;
}
.devbox img{
  position:absolute;
  height: 182px;
  /* background-color: #ffffff70; */
  width: 180px;
  z-index:1;
  /* transform: scale(0.62); */
  top: 70%;
  left: 25%;
  border-radius: 20px;
  padding: 0;
}
.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.profile h1 {
  font-size: 3.2rem;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500;
  user-select: none;
  margin: 0;
}

.divakar{
text-align: center;
font-family: "IBM Plex Sans", sans-serif;

}

.profile h1 span {
  background: linear-gradient(267deg, #da7c25 0.63%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.profile p {
  font-family:"IBM Plex Sans", sans-serif;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  padding: 0 10px;
}

.buttons {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 30px 0;
  flex-wrap: wrap;
}

.headerconnect {
  font-family: "IBM Plex Sans", sans-serif;
  padding: 19px 35px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(267deg, #da7c25 0.63%, #b923e1 102.06%);
  transition: all 0.7s ease;
}

.headerconnect:hover {
  border: 2px solid white;
}

.navresume {
  font-family: "IBM Plex Sans", sans-serif;
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  text-decoration: none;
}

.navresume:hover {
  border-color: #8415ff;
}
.headerconnect:hover {
  transform: scale(1.09);
}


@media (max-width: 2500px) {
  .header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
    text-align: center;
  }
  .vector1 {
    transform: scale(0.65);
    position: absolute; 
    z-index: -1;
  }
  .vector2 {
    transform: scale(0.55);
    position: absolute; 
    z-index: -1; 
  }
  
  .profilepic {
   
    position: relative;
    z-index: 1;
  }
  
  
  .picdiv {
    position: relative; 
  }
  .blur{
    position:absolute;
    width: 20rem;
    height: 10rem;
    border-radius:50%;
    background: #ed7ff3;
    filter: blur(72px);
    z-index:-9;
    top: 16%;
    right: 64%;
  }
  .devbox{
    position:absolute;
    height: 272px;
    width: 270px;
    z-index:1;
    transform: scale(0.65);
    top: 25%;
    left: 22%;
    border-radius: 20px;
    padding: 0;
  }
  .profilepic {
    max-width: 350px;
  }
  .profile h1 {
    font-size: 2.2rem;
  }

  .profile p {
    font-size: 1.1rem;
  }

  .headerconnect,
  .navresume {
    padding: 12px 25px;
    font-size: 1.1rem;
  }
}


@media (max-width: 1200px) {
  .vector1 {
    transform: scale(0.65);
    position: absolute; 
    z-index: -1;
  }
  .vector2 {
    transform: scale(0.55);
    position: absolute; 
    z-index: -1; 
  }
  
  .profilepic {
   
    position: relative;
    z-index: 1;
  }
  
  
  .picdiv {
    position: relative; 
  }
  .blur{
    position:absolute;
    width: 20rem;
    height: 10rem;
    border-radius:50%;
    background: #ed7ff3;
    filter: blur(72px);
    z-index:-9;
    top: 18%;
    right: 54%;
  }
  .devbox{
    position:absolute;
    height: 272px;
    width: 270px;
    z-index:1;
    transform: scale(0.65);
    top: 25%;
    left: 18%;
    border-radius: 20px;
    padding: 0;
  }
  .profilepic {
    max-width: 350px;
  }
  .profile h1 {
    font-size: 2.2rem;
  }

  .profile p {
    font-size: 1.1rem;
  }

  .headerconnect,
  .navresume {
    padding: 12px 25px;
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .profilepic {
    max-width: 300px;
  }
  .devbox{
    position:absolute;
    height: 272px;
    width: 270px;
    z-index:1;
    transform: scale(0.60);
    top: 18%;
    left: 15%;
    border-radius: 20px;
    padding: 0;
  }
  .profile h1 {
    font-size: 2rem;
  }

  .profile p {
    font-size: 1rem;
  }

  .headerconnect,
  .navresume {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .header1 {
    flex-direction: column;
    padding: 20px 10px;
  }

  .profilepic {
    max-width: 300px;
  }
  .devbox{
    position:absolute;
    height: 272px;
    width: 270px;
    z-index:1;
    transform: scale(0.50);
    top: 22%;
    left: 33%;
    border-radius: 20px;
    padding: 0;
  }
  .blur{
    position:absolute;
    width: 20rem;
    height: 10rem;
    border-radius:50%;
    background: #ed7ff3;
    filter: blur(72px);
    z-index:-9;
    top: 16%;
    right: 19%;
  }
  .profile h1 {
    font-size: 2.3rem;
  }

  .profile p {
    font-size: 1.2rem;
  }

  .headerconnect,
  .navresume {
    padding: 20px 45px;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .profilepic {
    max-width: 250px;
  }
  .vector1 {
    transform: scale(0.59);
    position: absolute;
    z-index: -1; 
  }
  .vector2 {
    transform: scale(0.45);
    position: absolute; 
    z-index: -1; 
  }
  
  .profilepic {
    transform: scale(0.95);
    position: relative;
    z-index: 1;
  }
  
  
  .picdiv {
    position: relative; 
  }
  .devbox{
    position:absolute;
    height: 272px;
    width: 270px;
    z-index:1;
    transform: scale(0.50);
    top: 18%;
    left: 31%;
    border-radius: 20px;
    padding: 0;
  }
  .blur{
    position:absolute;
    width: 18rem;
    height: 8rem;
    border-radius:50%;
    background: #ed7ff3;
    filter: blur(72px);
    z-index:-9;
    top: 16%;
    right: 19%;
  }

  .profile h1 {
    font-size: 1.5rem;
  }

  .profile p {
    font-size: 0.85rem;
  }

  .headerconnect,
  .navresume {
    padding: 10px 40px;
    font-size: 0.89rem;
  }
}

@media (max-width: 400px) {
  .profilepic {
    max-width: 200px;
  }
  .vector1 {
    transform: scale(0.50);
    position: absolute; 
    z-index: -1; 
  }
  .vector2 {
    transform: scale(0.40);
    position: absolute; 
    z-index: -1;
  }
  
  .profilepic {
    transform: scale(1.0);
    position: relative; 
    z-index: 1; 
  }
  
  
  .picdiv {
    position: relative; 
  }
  .devbox{
    position:absolute;
    height: 272px;
    width: 270px;
    z-index:1;
    transform: scale(0.40);
    top: 18%;
    left: 20%;
    border-radius: 20px;
    padding: 0;
  }
  .blur{
    position:absolute;
    width: 15rem;
    height: 8rem;
    border-radius:50%;
    background: #ed7ff3;
    filter: blur(72px);
    z-index:-9;
    top: 21%;
    right: 19%;
  }

  .profile h1 {
    font-size: 1.3rem;
  }

  .profile p {
    font-size: 0.8rem;
  }

  .headerconnect,
  .navresume {
    padding: 10px 40px;
    font-size: 0.7rem;
  }
}
